@import "@/styles/mixins.scss";
@import "@/styles/variables.module.scss";

.form {
  @include flexColumn;

  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: auto;
  padding: 0 2rem;
  height: 100vh;

  &__input {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 2px solid $color-primary-dark;
    width: 30rem;

    color: $color-primary-dark;
  }
}
